.navbar {
  position: sticky;
  top: 0;
  z-index: 100;
  height: 64px;
  background: var(--card-bg);
  border-bottom: 1px solid var(--border);
  padding: 0 24px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: -0.5px;
}

.nav-links {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-links a {
  font-size: 14px;
  font-weight: 500;
  color: var(--secondary);
}

.nav-links a.active {
  color: var(--primary);
}

.nav-links button {
  background: var(--primary);
  color: #fff;
  padding: 8px 14px;
  border: none;
  border-radius: var(--radius-sm);
  transition: all 0.3s ease-in-out;
}
.nav-links button:hover{
  background: #454545;
}

/* Mobile */
@media (max-width: 768px) {
  .navbar {
    padding: 0 16px;
  }

  .nav-links {
    gap: 12px;
  }
}
